{% extends "admin/challenges/update.html" %}
{% block category %}
<div class="form-group">
    <label>
        Category<br>
        <small class="form-text text-muted">Challenge Category</small>
    </label>
    <input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
</div>
<div class="form-group">
    <label for="PodmanImage" id='podmanimage_label'>Podman Image:
        <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The podman image for your challenge"></i>
    </label>
    <select id="podmanimage_select" name="podman_image" class="form-control" required></select>
</div>
{% endblock %}
{% block footer %}
<script>
var DOCKER_IMAGE = '{{ challenge.podman_image }}';
</script>
{% endblock %}